.input {
    background: #ffffff;
    border: 1px solid #ebebf1;
    border-radius: 5px; 
    background-image: url(../../../assets//images/search.svg);
    background-repeat: no-repeat;
    background-position: .9rem center;

    flex: 1;
    margin: 0 60px;
    padding: 8px 10px 8px 40px;

    cursor: url(../../../assets/images/cursor.svg), pointer;
}