.input {
    background: #ffffff;
    border: 1px solid #ebebf1;
    border-radius: 5px; 
    padding: 8px 10px 8px 40px;
    background-image: url(../../../assets//images/search.svg);
    background-repeat: no-repeat;
    background-position: 2% center;

    flex: 1;
    margin: 0 60px;
}