.header {
    position: relative;
    box-shadow: -2px 4px 8px -6px rgba(34, 60, 80, 0.2);
    // &::before {
    //     position: absolute;
    //     left: 5%;
    //     top: 5%;
    //     height: 10px;
    //     width: 2px;
    //     background-color: #1515da;
    // }
}

.header__wrapper.header__wrapper {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__input-mobile {
    margin: 0 0 0 0;
    padding: 12px 10px 8px 50px;
    border: none;
    border-radius: 0;
    border-top: 1px solid #ebebf1;
    width: 100%;
    background-position: 5% center;
}

// .header__input {
//     flex: 1;
//     margin: 0 60px;
// }

