.partners__gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 47px 0 0 0;
}

.partner-card {
    height: 120px;
    max-width: 270px;
    flex: 1 0 270px;

    background: #fff;
    border: 1px solid #ebebf1;
    cursor: url(../../assets/images/cursor.svg), pointer;

    overflow: hidden;

    border-radius: 5px;
    margin: 0 30px 30px 30px;
    padding: 15px;
    &:nth-child(2n + 1) {
        // odd
        margin: 0 0 30px 0;
    }
    &:nth-child(2n) {
        // even
        margin: 0 30px 30px 30px;
    }
    &:nth-child(4n) {
        margin: 0 0 30px 30px;
    }
    &:first-child, 
    &:last-child {
        margin: 0;
    }
}

.partner-card__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
