
.partners {
    margin: 77px 0 0 0;
}

.partners__title {
    text-transform: uppercase;
    color: #121920;
    font-size: 36px;
    font-weight: 500;
    line-height: 44.8px;
}

.partners__gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 38px 0 0 0;
}

.partner-card {
    position: relative;

    height: 120px;
    max-width: 270px;
    flex: 1 0 270px;
    background: #fff;
    border: 1px solid #ebebf1;
    cursor: url(../../assets/images/cursor.svg), pointer;
    overflow: hidden;
    border-radius: 5px;
    margin: 0 30px 30px 30px;
    transition: .25s linear;
    &:hover {
        box-shadow: 4px 4px 21px -2px rgba(34, 60, 80, 0.2);
    }
    &:nth-child(2n + 1) {
        // odd
        margin: 0 0 30px 0;
    }
    &:nth-child(2n) {
        // even
        margin: 0 30px 30px 30px;
    }
    &:nth-child(4n) {
        margin: 0 0 30px 30px;
    }
    &:first-child, 
    &:last-child {
        margin: 0;
    }
}

.partner-card__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;

    object-fit: contain;
    width: 95%;
    height: 100%;
}
