$main: #fff;
$gray: #768298;
$black: #121920;

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: $main;
    font-family: "Roboto";
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo__image {
    cursor: url(./assets//images/cursor.svg), pointer;
}

.profile {
    :not(:last-child) {
        margin-right: 13px;
    }
    > * {
        cursor: url(./assets//images/cursor.svg), pointer;
    }
}
.profile__image {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 8px;
}
.profle__name {
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
    color: $gray;
}

.form {
    position: relative;
    width: 100%;
    margin: 0 60px;
    &__button {
        position: absolute;
        left: 7px;
        top: 9px;
        background-color: transparent;
    }
}
.form--mobile {
    margin: 0;
}
