$main: #FFF;
$gray: #768298;
$black: #121920;

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: $main;
    font-family: "Roboto";
}

.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 20px;
}

.profile {
    display: flex;
    align-items: center;
    :not(:last-child) {
        margin-right: 10px;
    }
}
.profile__image {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 8px;
}
.profle__name {
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
    color: $gray;
}

.partners {
    margin: 70px 0 0 0;
}
.partners__title {
    text-transform: uppercase;
    color: $black;
    font-size: 28px;
    font-weight: 500;
    line-height: 44.8px;
}
